@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>網頁介紹</h2>
        <p>
            在此網頁中，你可以 "新增"、"刪除"、"修改"台北市公私立醫院資料。
        </p>
        <p><a class="btn btn-default" href="https://data.gov.tw/dataset/133342">資料來源 &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Github</h2>
        <p>下載本專案於 Github </p>
        <p><a class="btn btn-default" href="https://github.com/asdkmm5050">Github &raquo;</a></p>
    </div>
</div>
